{% extends "recipes/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div class="container">
    <form method = "POST">
        {% csrf_token %}
        <fieldset class = "form-group">
            <legend class = border-bottom mb-4>Are you sure you want to delete {{object}}</legend>
            {{ form|crispy }} 
        </fieldset>

        <div class="form-group py-3">
            <input class = "btn btn-outline-primary" type="submit" value="Delete">
        </div>

        <div class="border-top pt -3">
            <a href = "{% url 'recipes-home' %}"> Cancel </a>
        </div>
    </form>
</div>

{% endblock %}